<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">CrypTalk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {{#if isOwner}}
            <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#newKeyModal">Add user</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="" data-toggle="modal" data-target="#admin-remind-modal">Users list</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" data-toggle="modal" data-target="#deleteChatModal">Delete space</a>
            </li>
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="" id="user-remind-link" data-toggle="modal" data-target="#user-remind-modal">Remind key</a>
            </li>
          {{/if}}
            <li class="nav-item">
              <a class="nav-link" href="/">Exit</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- New key popup -->
  <div class="modal fade" id="newKeyModal" tabindex="-1" role="dialog" aria-labelledby="newKeyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newKeyModalLabel">Add user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group m-0">
              <input type="text" class="form-control" id="newMemberName" placeholder="Name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="createKeyButton" class="btn popup-button-color">Create</button>
        </div>
      </div>
    </div>
  </div>

<!-- Delete popup -->
  <div class="modal fade" id="deleteChatModal" tabindex="-1" role="dialog" aria-labelledby="deleteChatLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteChatLabel">Delete space</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group m-0">
              <input type="text" class="form-control" id="delete-key" placeholder="Your Key">
            </div>
          </form>
        </div>
        <form action="/" method="GET">
          <div class="modal-footer">
            <button type="button" id="delete-button" class="btn popup-button-color">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- New key get popup -->
  <div class="modal fade" id="getNewKeyModal" tabindex="-1" role="dialog" aria-labelledby="getNewKeyLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="getNewKeyLabel">New key</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group m-0">
            <input type="text" class="form-control" id="new-member-key" value="">
            <div class="input-group-append">
              <button class="btn popup-button-color" id="copy-button-new">Copy</button> 
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn popup-button-color reload-button" data-dismiss="modal">I remembered</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete key get popup -->
  <div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="getNewKeyLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="getNewKeyLabel">Remove user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p class="text-style-modal">User has been removed</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn popup-button-color reload-button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Remind key admin popup -->
  <div class="modal fade" id="admin-remind-modal" role="dialog" aria-labelledby="ownerVisitLabel">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ownerVisitLabel">Group members</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group m-0 p-1">
              <select class="form-control" id="choose-select-admin">
                {{#each users}}
                  <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </select>
              <div class="input-group-append">
                <button class="btn popup-button-color" id="get-key-admin">Get key</button> 
              </div>
              <div class="input-group-append">
                <button class="btn popup-button-color" id="remove-key-admin">Remove</button> 
              </div>
          </div>
          
        </div>
          <div class="modal-footer">
            <button type="button" class="btn popup-button-color" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>

   <!-- Remind key user popup -->
  <div class="modal fade" id="user-remind-modal" role="dialog" aria-labelledby="ownerVisitLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ownerVisitLabel">Your key</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group m-0">
            <input type="text" class="form-control" id="user-remind-key" value="">
            <div class="input-group-append">
              <button class="btn popup-button-color" id="user-remind-copy-button">Copy</button> 
            </div>
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn popup-button-color" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>