<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">CrypTalk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#enter">Увійти</a>
              </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Про нас</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<!-- Owner name popup -->
  <div class="modal fade" id="ownerNameModal" role="dialog" aria-labelledby="ownerNameLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ownerNameLabel">Новий простір</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group m-0">
              <input type="text" class="form-control" id="newOwnerName" placeholder="Ваше ім'я">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="newOwnerButton" class="btn popup-button-color">Створити</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Owner key popup -->
  <div class="modal fade" id="ownerVisitModal" role="dialog" aria-labelledby="ownerVisitLabel">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ownerVisitLabel">Ваш ключ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group m-0">
            <input type="text" class="form-control" id="keyText" value="">
            <div class="input-group-append">
              <button class="btn popup-button-color" id="copy-button-owner">Копіювати</button> 
            </div>
          </div>
        </div>
          <div class="modal-footer">
            <a href="/" class="btn popup-button-color">Запам'ятав</a>
          </div>
      </div>
    </div>
  </div>