
{{> mainHeader}}

<section id="enter">
      <div class="container text-center">
        <div class="row align-items-center" id="startText">
            <div class="col-12">
                <h1>Ласкаво просимо до CrypTalk</h1>
                <p class="lead">По-справжньому анонімне та безпечне спілкування</p>
              </div>
        </div>
        
        <form id="enterForm" method="POST" name="enter" action="/enter" class="main-row-padding">
            <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3 col-lg-6 offset-lg-3">
              <div class="form-group align-items-center">
              <input type="text" id="inputMain" name="key" autocomplete="off" class="form-control myInput" placeholder="Ваш ключ">
            </div>
            <div class="col zeroPadding">
                <div class="form-group align-items-center">
                <input type="button" class="btn btn-block regButton" id="enterButton" value="Увійти до простору">
              </div>
          </div>
        </form>
        <hr>
          <div class="col zeroPadding">
              <div class="form-group align-items-center">
              <input type="button" class="btn btn-block regButton" id="createButton" value="Створити простір">
            </div>
        </div>
      </div>
</section>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Про нас</h2>
          <p class="lead">Онлайн-сервіс з обміну повідомленнями CrypTalk був розроблений для забезпечення користувачів обмінюватися повідомленнями, не вказуючи свої особисті дані.</p>
          <p class="lead">Все, що вам необхідно вказати - ваш псевдонім. Єдине що вам необхідно ввести для авторизації - ваш ключ.</p>
          <p class="lead">Окрім цього онлайн-сервіс пропонує зберігання даних повідомлень у зашифрованому вигляді. Для більшої надійності шифрування здійснюється за алгоритмом AES.</p>
          <p class="lead">AES Advanced Encryption Standard - стандарт розширеного шифрування, заснований на симетричному алгоритмі блочного шифрування, встановлений Національним інститутом стандартів і технологій США (NIST) в 2001 році. Прийшов на зміну застарілому стандарту 3DES. Розмір блоку при шифруванні AES становить 128 біт, довжина ключа може становити 128, 192 або 256 біт. AES був прийнятий урядом США і тепер використовується у всьому світі. Він замінює стандарт шифрування даних (DES), який був опублікований в 1977 році. Алгоритм, описаний AES, являє собою алгоритм з симетричним ключем, тобто той же ключ використовується для шифрування і дешифрування даних</p>
          <p class="lead">Зручний інтерфейс - важлива частина будь-якого додатку, і онлайн-сервіс з обміну повідомленнями не є виключенням. Дизайн є повністю адаптивним, і дозволяє обмінюватися повідомленнями на будь-якому пристрої.</p>
        </div>
      </div>
    </div>
  </section>

{{> footer}}